a {
    color: #8bd3fb;
}

body {
    position: relative;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 150px 0px 100px;
    background-color: #beba46;
}

img {
    padding-top: 2em;
}

section {
    margin-top: 2em;
    padding-top: 56px;
    color: #bcb841;
}

.project-card {
    margin-top: 2em;
    background-color:#8bd3fb;;
    color: #790d0d;
}

.project-card > a {
    color: #bcb841;
    font-size: larger;
}

body {
    background-color:#790d0d;
    
}

.navbar {
    background-color:#790d0d;
}

.nav-link {
    color: #beba46;
}